%h1 Listing staffs

%table
  %tr
    %th Email
    %th Name
    %th
    %th
    %th

  - @staffs.each do |staff|
    %tr
      %td= staff.email
      %td= staff.name
      %td= link_to 'Show', staff
      %td= link_to 'Edit', edit_staff_path(staff)
      %td= link_to 'Destroy', staff, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Staff', new_staff_path
