= form_for @issue, :html => {:class => "form-horizontal"} do |f|
  -if @issue.errors.any?
    #error_explanation
      %h2= "#{pluralize(@issue.errors.count + @client.errors.count, "error")} prohibited this issue from being saved:"
      %ul
        - @issue.errors.full_messages.each do |msg|
          %li= msg
        - @client.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    = label :client, :email, :class => 'control-label'
    .controls
      = text_field :client, :email
  .control-group
    = label :client, :name , :class => 'control-label'
    .controls
      = text_field :client, :name
  .control-group
    = label :client, :department, :class => 'control-label'
    .controls
      = text_field :client, :department


  .control-group
    = f.label  :subject, :class => 'control-label'
    .controls
      = f.text_area  :subject, :rows => 3
  .control-group
    = f.label  :description, :class => 'control-label'
    .controls
      = f.text_area :description, :rows => 5

  .actions
    = f.submit 'Save', :class => "btn btn-primary"
