
.row
  .span9
    %p#notice= notice

    %p
      %h1
        = @issue.subject
    %p
      %b Description:
      = @issue.description
    %p
      %b Reference:
      = @issue.reference
    %p
      %b Client:
      = @issue.client.name
    %p
      %b Owner:
      = @issue.owner.name if @issue.owner
    %p
      %b Status:
      = status_color(@issue.status) if @issue.status

    = render "history"

    = link_to 'Back', root_path, :class => "btn"

  - if staff_signed_in?
    .span3
      = render "admin"



